@import 'src/assets/scss/colors.scss';

.main-menu-container {
    background-color: antiquewhite;
    height: 100%;
    padding: 20px;

    .buttons-container {
        .btn {
            padding: 5px;
            line-height: 1.2rem;
        }
    }
}
