$black: #111111;
$white: #FFFFFF;
$whitesmoke: #F5F5F5;
$grey: #777777;
$grey-dark: #444444;
$blue-grey: #3F4C5C;
$blue: #4793FF;
$green: #29C672;
$orange: #FFAE47;
$red: #FF4747;

$field-border: #4793FF;