$black: #333333;
$white: #ffffff;
$whitesmoke: #f5f5f5;
$grey: #777777;
$grey-dark: #444444;
$blue-grey: #3f4c5c;
$blue: #4793ff;
$green: #29c672;
$orange: #ffae47;
$red: #ff4747;

$field-border: darkgray;
