<div class="content-container" fxLayout="row" fxLayoutAlign="center">

  <div class="column" fxLayout="column" fxFlex="50">

    <div class="buttons-container" fxLayout="row" fxLayoutAlign="start center">
      <div (click)="onSendGPTPromptClick()" class="button-container" fxLayout="row" fxLayoutAlign="center center">Send prompt</div>
    </div>

    <textarea rows="40" [(ngModel)]="prompt"></textarea>

  </div>

  <div class="column second-column" fxLayout="column" fxFlex="50">
    <div class="title">Prompt answer:</div>
    <div>{{ promptAnswer }}</div>
  </div>

</div>
