<div class="component-container file-chooser-container full-width" fxLayout="column">
    <div class="title">Choose filters and Search files:</div>

    <div class="full-width" fxLayout="row">
        <div fxLayout="row" fxFlex="50">Current directory:</div>
        <div fxLayout="row" fxFlex="50">
            {{ directoryPath }}
        </div>
    </div>
    <div class="full-width" fxLayout="row">
        <div fxLayout="row" fxFlex="50">File extension:</div>
        <div fxLayout="row" fxFlex="50">
            <input type="text" class="full-width" [(ngModel)]="fileExtension" />
        </div>
    </div>
    <div class="full-width" fxLayout="row">
        <div fxLayout="row" fxFlex="50">Filter strings (comma separated):</div>
        <div fxLayout="row" fxFlex="50">
            <input type="text" class="full-width" [(ngModel)]="fileFilterStrings" />
        </div>
    </div>
    <hr />
    <div class="header-button-container" fxLayout="row" fxLayoutAlign="center center">
        <div *ngIf="!filesSearching" (click)="searchFiles()" class="full-width" fxLayout="row" fxLayoutAlign="center">
            <div class="btn">[ SEARCH FILES ]</div>
        </div>
        <div *ngIf="filesSearching" (click)="searchFiles()" class="full-width bolder" fxLayout="row" fxLayoutAlign="center">
            Files searching ...
        </div>
    </div>
    <hr />
    <div *ngIf="files?.length" class="files-list-container" fxLayout="column">
        <div class="title">
            <input type="checkbox" [(ngModel)]="allFilesSelector" (change)="onAllFilesSelect()" />
            <span>Found files ({{ getSelectedFiles().length }}/{{ files.length }}): </span>
        </div>
        <div *ngFor="let file of files" class="file-container" fxLayout="row">
            <input type="checkbox" [(ngModel)]="file.Selected" />
            <div class="truncate-start" title="{{ file.FullPath }}">{{ file.FullPath }}</div>
        </div>
    </div>
    <hr *ngIf="files?.length" />
    <div *ngIf="files?.length">
        <div (click)="selectFiles()" class="full-width" fxLayout="row" fxLayoutAlign="center">
            <div class="btn">[ SELECT FILES ]</div>
        </div>
    </div>
</div>
