<div class="component-container prompt-library-container">
    <div class="title">Select prompt from directory:&nbsp;{{ directoryPath }}</div>
    <div *ngIf="files.length > 0">
        <div class="files-list-container">
            <div
                *ngFor="let file of files"
                (click)="onSelectFile(file)"
                class="file-container"
                [ngClass]="{ selected: file === selectedFile }"
                fxLayout="row"
            >
                <div class="truncate-start" fxFlex="50" title="{{ file.FullPath }}">{{ file.Name }}</div>
                <div class="truncate-end file-content" fxFlex="50" title="{{ file.Content }}">({{ file.Content }}</div>
                )
            </div>
        </div>
        <div *ngIf="selectedFile" class="files-list-container">
            <hr />
            <div class="file-container selected" fxLayout="row">
                <div class="truncate-start" title="{{ selectedFile.FullPath }}">{{ selectedFile.FullPath }}</div>
            </div>
            <hr />
            <textarea *ngIf="editMode" [(ngModel)]="selectedFile.Content" spellcheck="false" class="full-width" autoheight></textarea>
            <hr *ngIf="editMode">
            <div fxLayout="row" fxLayoutAlign="space-around">
                <div *ngIf="!editMode" (click)="onEditFile()" class="btn" fxFlex="40">Edit</div>
                <div *ngIf="editMode" (click)="onSaveFile()" class="btn" fxFlex="40">Save</div>
                <div (click)="onUsePrompt()" class="btn" fxFlex="40">Select</div>
            </div>
        </div>
    </div>
    <div *ngIf="files.length === 0">No files found.</div>
</div>
