.content-container {
    line-height: 1.2rem;

    .header-container {
        padding: 0 20px;
    }

    .btn {
        cursor: pointer;
    }

    .full-width {
        width: 100%;
    }

    .second-column {
        margin-left: 15px;
    }
}
