<div class="content-container gray" fxLayout="column" fxLayoutAlign="start">
    <div
        *ngIf="!processing"
        class="content-container header-button-container"
        fxLayout="row"
        fxLayoutAlign="center center"
    >
        <div *ngIf="canProcessFilesWithAi()" (click)="onAIProcessFiles()" class="btn" fxLayout="row">
            [ PROCESS FILES with OpenAI model {{ openAiModel }} ]
        </div>
        <div *ngIf="!canProcessFilesWithAi()" class="bolder">
            CONFIGURE PROCESSING for OpenAI model {{ openAiModel }}
        </div>
    </div>
    <div
        *ngIf="processing"
        class="content-container header-button-container"
        fxLayout="row"
        fxLayoutAlign="center center"
    >
        <div fxLayout="row">
            <div>Progress: {{ progress?.completed }} / {{ progress?.total }}</div>
        </div>
    </div>

    <div class="section-container" fxLayout="row">
        <div class="content-container" fxLayout="column">
            <prompt-library (selectPromptEmitter)="selectPrompt($event)"></prompt-library>
        </div>
        <div class="content-container" fxLayout="column">
            <div class="title">Prompt used in the process:</div>
            <textarea
                [(ngModel)]="myAIPrompt"
                placeholder="Select your AI prompt from library or enter here"
                spellcheck="false"
                class="full-width"
                autoheight
            ></textarea>
        </div>
    </div>

    <div class="section-container" fxLayout="row">
        <div class="content-container" fxLayout="column">
            <file-chooser (selectFilesEmitter)="selectFiles($event)"></file-chooser>
        </div>
        <div class="content-container" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="column">
                    <div>
                        COST with model <span class="bolder">{{ openAiModel }}</span
                        >: <span class="bolder">{{ totalProcessCostInDollars }}$</span>
                    </div>
                </div>
                <div fxFlex></div>
                <div class="column">Pricing:</div>
                <div class="column subcontainer">
                    <div>{{ inputTokensCostInDollars }}$/{{ costUnitTokens }}IT</div>
                </div>
                <div class="column subcontainer">
                    <div>{{ outputTokensCostInDollars }}$/{{ costUnitTokens }}OT</div>
                </div>
            </div>
            <hr />
            <div *ngIf="files?.length" class="files-list-container" fxLayout="column">
                <div
                    *ngIf="canProcessFilesWithAi() && totalProcessCostInDollars === 0"
                    (click)="calculateTokensForFiles()"
                    class="btn"
                    fxLayout="row"
                >
                    [ CALCULATE TOKENS and COST ]
                </div>
                <hr *ngIf="canProcessFilesWithAi() && totalProcessCostInDollars === 0" />
                <div class="title">Selected files ({{ files.length }}):</div>
                <div *ngFor="let file of files" class="file-container" fxLayout="row" fxLayoutAlign="start center">
                    <div class="info">
                        <ng-container *ngIf="file.Done; else notDone">&#10003;</ng-container>
                        <ng-template #notDone>
                            <ng-container *ngIf="file.Processed; else notProcessed">&#8987;</ng-container>
                            <ng-template #notProcessed>&#10596;</ng-template>
                        </ng-template>
                    </div>
                    <div class="file-path truncate-start">{{ file.FullPath }}</div>
                    <div *ngIf="file.InputTokens && file.OutputTokens" class="subcontainer tokens">
                        (IT:{{ file.InputTokens }} OT:{{ file.OutputTokens }})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
