.column {
    padding: 20px;
    &.second-column {
        border-left: 1px solid #ddd;
    }
}

.title {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-element {
    margin-bottom: 15px;
    label {
        margin-bottom: 5px;
    }
}

.buttons-container {
    width: 100%;
    height: 60px;
    background-color: #eee;
    padding: 10px;

    .button-container {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: auto;
        padding: 0 10px;
        height: 40px;
        cursor: pointer;
    }
}

.html-editor-area {
    padding: 10px;
}
