.second-column
{
    margin-left: 15px;
}

.buttons-container
{
    width: 100%;
    height: 60px;
    background-color: #eee;
    padding: 10px;

    .button-container
    {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: auto;
        padding: 0 10px;
        height: 40px;
        cursor: pointer;
    }
}

.html-editor-area
{
    padding: 10px;
}