<div class="content-container" fxLayout="row" fxLayoutAlign="center">

  <div class="column" fxLayout="column" fxFlex="50">

    <div class="title">EDYCJA:</div>

    <form #comixForm="ngForm" fxLayout="column">

      <!-- Series Title -->
      <mat-form-field class="form-element">
        <mat-label>Series Title:</mat-label>
        <input matInput type="text" id="seriesTitle" name="SeriesTitle" [(ngModel)]="element.SeriesTitle">
      </mat-form-field>

      <!-- Series Subtitle -->
      <mat-form-field class="form-element">
        <mat-label>Series Subtitle:</mat-label>
        <input matInput type="text" id="seriesSubtitle" name="SeriesSubtitle" [(ngModel)]="element.SeriesSubtitle">
      </mat-form-field>

      <!-- Comix Title -->
      <mat-form-field class="form-element">
        <mat-label>Comix Title:</mat-label>
        <input matInput type="text" id="comixTitle" name="ComixTitle" [(ngModel)]="element.ComixTitle" required>
      </mat-form-field>

      <!-- Display Name -->
      <mat-form-field class="form-element">
        <mat-label>Display Name:</mat-label>
        <input matInput type="text" id="displayName" name="DisplayName" [(ngModel)]="element.DisplayName">
      </mat-form-field>

      <!-- Author -->
      <mat-form-field class="form-element">
        <mat-label>Author:</mat-label>
        <input matInput type="text" id="author" name="Author" [(ngModel)]="element.Author">
      </mat-form-field>

      <!-- Publisher -->
      <mat-form-field class="form-element">
        <mat-label>Publisher:</mat-label>
        <input matInput type="text" id="publisher" name="Publisher" [(ngModel)]="element.Publisher">
      </mat-form-field>

      <!-- Publishment Year -->
      <mat-form-field class="form-element">
        <mat-label>Publishment Year:</mat-label>
        <input matInput type="text" id="publishmentYear" name="PublishmentYear" [(ngModel)]="element.PublishmentYear">
      </mat-form-field>

      <!-- Number of Pages -->
      <mat-form-field class="form-element">
        <mat-label>Number of Pages:</mat-label>
        <input matInput type="number" min="1" id="numberOfPages" name="NumberOfPages" [(ngModel)]="element.NumberOfPages">
      </mat-form-field>

      <!-- Cover Hard -->
      <div class="form-element">
        <mat-checkbox id="coverHard" name="CoverHard" [(ngModel)]="element.CoverHard">Cover Hard</mat-checkbox>
      </div>

      <!-- Rating -->
      <mat-form-field class="form-element">
        <mat-label>Rating:</mat-label>
        <input matInput type="number" min="1" max="10" id="rating" name="Rating" [(ngModel)]="element.Rating">
      </mat-form-field>

      <!-- Collected -->
      <div class="form-element">
        <mat-checkbox id="collected" name="Collected" [(ngModel)]="element.Collected">Collected</mat-checkbox>
      </div>

      <!-- Buttons Container -->
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="OnSubmitClick()" type="submit">Save</button>
      </div>

    </form>

  </div>

  <div class="column second-column" fxLayout="column" fxFlex="50">
    <div class="title">Element JSON:</div>
    <div>{{ element | json }}</div>
  </div>

</div>
