@import 'src/assets/scss/colors.scss';

.full-width {
    width: 100%;
}

.aiworks-sw-main-container {
    height: 100%;
    overflow: hidden;

    .aiworks-sw-main {
        height: calc(100% - 60px);

        .main-menu {
            width: 200px;
        }

        .aiworks-sw-main-content-container {
            padding: 10px;
            height: 100%;
            overflow-y: auto;
        }
    }
}

.component-container {
    padding: 10px 15px;
    background-color: antiquewhite;
    border-radius: 1rem;
    border: 1px solid grey;
}

.content-container {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;

    &.gray {
        background-color: lightgray;
    }
}

hr {
    width: 100%;
    margin: 15px 0;
}

.title {
    font-weight: bolder;
    margin-bottom: 10px;
}

.bolder {
    font-weight: bolder;
}

.truncate-end {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-start {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

textarea {
    padding: 10px;
}

textarea[autoheight] {
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
}

.header-button-container {
    height: 60px;
    min-height: 60px;
}
