@import 'src/assets/scss/colors.scss';

$headerHeight: 60px;

.aiworks-main-header-container {
    height: $headerHeight;
    color: $white;
    padding: 10px 20px;
    background-color: $field-border;

    .main-logo-container {
        font-size: bolder;
        font-size: 1.5rem;
        cursor: pointer;
    }

    user {
        height: calc($headerHeight - 20px);
    }
}

