@import 'src/assets/scss/colors.scss';

$headerHeight: 60px;

.aiworks-sw-main-header-container {
    background-color: antiquewhite;
    color: $black;
    height: $headerHeight;
    padding: 10px 20px;

    .main-logo-container {
        font-size: bolder;
        font-size: 1.5rem;
        cursor: pointer;
    }

    user {
        height: calc($headerHeight - 20px);
    }
}
