.column {
  padding: 20px;

  &.second-column {
    border-left: 1px solid #ddd;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
}

.buttons-container {
  width: 100%;
  height: 60px;
  background-color: #eee;
  padding: 10px;
  margin-top: 20px;

  .button-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: auto;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
  }
}
