.second-column
{
    margin-left: 15px;
}

.buttons-container
{
    width: 100%;
    height: 60px;
    background-color: #eee;
    padding: 10px;

    .button-container
    {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: auto;
        padding: 0 10px;
        height: 40px;
        cursor: pointer;
    }
}

.html-editor-area
{
    padding: 10px;
}

#myHtmlEditorContainer div.html-content {
  font-size: 16px;
  color: #333;
}

#myHtmlEditorContainer div.html-content p {
  margin: 0 0 1em;
  font-weight: normal !important;
}

#myHtmlEditorContainer div.html-content b,
#myHtmlEditorContainer div.html-content strong {
  font-weight: bold !important;
}
